/* grid */
$section-offset: 48px;
$gutter: 32px;
$site-max-width: 100rem;
$site-offset: 32px;
/* timing */
$short: 300ms;
$medium: 600ms;
$long: 900ms;
/* elements */
$header-height: calc($site-offset + 2rem);
/*  */
$burger-width: 1.5em;
$burger-height: 1em;