{% set sections = craft.sections.getAllSections() %}

<ul class="nav-menu">

  {% for section in sections %}

    {% if section.type == "single" %}

      {% set entry = craft.entries.sectionId(section.id).first() %}

      {% if entry.menu == true %}

        <li class="nav-menu-item">
          <a href="{{ entry.slug }}">{{ entry.title }}</a>
        </li>

      {% endif %}

    {% endif %}

  {% endfor %}

</ul>
